@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");


:root {
    --accent-color: #1fa8f5;
    --accent-color-fg: #fefefe;
    --backdrop-color: #89d4fe;
    --app-content-background-color: #c0d8ec;
    --inset-shadow: rgba(7, 43, 74, 0.3);
    --outset-shadow: rgba(223, 240, 255, 0.25);
    --outset-shadow: rgba(223, 240, 255, 0.25);
    --clay-box-shadow: rgba(7, 43, 74, 0.3);
    --clay-background-color: #c0d8ec;
    --clay-fg-color: #444;
    --nav-color: #f9f8fa;
}

body {
    background-color: var(--backdrop-color);
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

.flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    padding: 1rem 1rem 1.5rem;
}

// start here

.stage {
    max-width: 400px;
    width: 400px;
    margin: 0 auto;
}



.tabbar {
    background-color: var(--app-content-background-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 120px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    transition: background-color 0.4s;

    ul,
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul {
        position: absolute;
        bottom: 0;
        width: 100%;
        
        background-color: var(--nav-color);
        align-self: flex-end;
        justify-content: center;

        height: 50px;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 1rem;

        transition: all 0.4s;
        background-color: var(--nav-color);
        // width: 60px;
        // height: 60px;
        position: relative;
        color: #888;
        cursor: pointer;
    }
}

.tab-style1 {

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1px;
        left: 0;
        width: 60px;
        transition: top 0.2s ease-out, width 0.4s, border-radius 0.4s,
            box-shadow 0.4s;

        

        &:nth-child(1).active~.follow {
            left: 23px;
        }

        &:nth-child(2).active~.follow {
            left: 84px;
        }

        &:nth-child(3).active~.follow {
            left: 144px;
        }

        &:nth-child(4).active~.follow {
            left: 205px;
        }

        &:nth-child(5).active~.follow {
            left: 265px;
        }
    }

    
}

/**
cssSelector isTRUE:
    ul .active
    .tab-style1 .active
    ul .active
    .containter . active
**/
ul .active {
    z-index: 100;
    top: -2rem;
    background-color: transparent;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tab-style1 .follow {
    position: absolute;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: var(--nav-color);
    border: 10px solid var(--app-content-background-color);
    top: -3rem;
    transition: left .2s ease-in, background-color 0.4s, border-color 0.4s;
}



.home {
    &.active {
        color: var(--accent-color);
    }

    &-style {
        --app-content-background-color: #c0d8ec;
    }
}

.products {
    &.active {
        color: #690c0c;
    }

    &-style {
        --app-content-background-color: #d36e5a;
    }
}

.services {
    &.active {
        color: #cf5c0f;
    }

    &-style {
        --app-content-background-color: #ed9426;
    }
}

.about {
    &.active {
        color: #4dd146;
    }

    &-style {
        --app-content-background-color: #4dd146;
    }
}

.help {
    &.active {
        color: #783896;
    }

    &-style {
        --app-content-background-color: #a3a3a3;
    }
}